@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); /* Add Poppins font */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif; /* Update font-family to include Poppins */
}

/* Hide Zendesk Widget on mobile devices */
@media screen and (max-width: 640px) {
  iframe#launcher, 
  div[data-brand-color="#10b981"],
  div[role="presentation"][aria-hidden="true"][data-garden-id],
  div[data-garden-id="modals.modal"],
  div[data-garden-id="buttons.icon_button"],
  div[data-testid="launcher"] {
    display: none !important;
  }
}



